{% include 'StreamAnalysis/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="{% static 'StreamAnalysis/images/1.png' %}" alt="Lights" style="width:90%">
                    <div class="caption">
                        <h3 style="text-align: center;font-family: 'Roboto Condensed', sans-serif;">MATest.in</h3><h5 style="text-align: center;font-family: 'Roboto Condensed', sans-serif;">A platform to know where you belong</h5>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a style="text-decoration-line: none;" href="#">
                    <div class="thumbnail"><br>
                        <h3 style="text-align: center; font-family: 'Roboto Condensed', sans-serif;">Take the test to know your stream at the right time.&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></h3>
                        <br>
                    </div>
                </a>
            </div>
      </div>
    </div>
{% endblock %}